.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  &__item{
    height: 40px;
  }
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 20px;
  }
  &__logo{
    &-image{
      height: 100%;
    }
  }
  &__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-input{
      padding: 0 10px;
      border: 1px solid #70C05B;
      border-radius: 4px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i{
        font-size: 20px;
        color: #8F8F8F;
      }
      input{
        width: 300px;
        height: 100%;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        &::placeholder{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #8F8F8F;
        }
      }
    }
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      user-select: none;
      text-align: center;
      flex-direction: column;
      cursor: pointer;
      margin-right: 20px;
      text-decoration: none;
      color: black;
      &:last-child{
        margin-right: 0;
      }
      i{
        font-size: 22px;
      }
    }
  }
  &__user{
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    i{
      font-size: 30px;
    }
  }
}
