.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 20px;
  }
  &__logo{
    height: 40px;
    margin: 16px 0;
    &-img{
      height: 100%;
    }
  }
  &__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    &-input{
      padding: 0 10px;
      border: 1px solid #70C05B;
      border-radius: 4px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input{
        width: 300px;
        height: 100%;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        &::placeholder{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #8F8F8F;
        }
      }
    }
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      user-select: none;
      text-align: center;
      flex-direction: column;
      cursor: pointer;
      margin-right: 15px;
      text-decoration: none;
      color: black;
      i{
        font-size: 22px;
      }
    }
  }
  &__user{
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image{
      border-radius: 100px;
    }
  }
}
