.popup{
  height: 100vh;
  width: 100vw;
  background: rgba(252, 213, 186, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #414141;
    margin-bottom: 20px;
  }
  &__content{
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
  }
  &__input{
    p{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #8F8F8F;
    }
    input{
      padding: 0 20px;
      width: 260px;
      height: 60px;
      background: #FFFFFF;
      border: 1px solid #70C05B;
      box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
      border-radius: 4px;
      outline: none;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #414141;
    }
  }
  &__btn{
    background: #FCD5BA;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 260px;
    height: 60px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FF6633;
  }
  &__row{
    margin-top: 20px;
  }
  &__register-btn{
    border: 1px solid #70C05B;
    border-radius: 4px;
    outline: none;
    background: transparent;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #70C05B;
  }
  &__forget-pass{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606060;
    text-decoration: none;
  }
}
